<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="/images/auca.png" style="height: 56px;">
    <form action='/post' method="POST" enctype="multipart/form-data">
        <input type="file" name="image" style="width:300px; border: 1px solid #ccc;">
        <br>
        <input type="text" name="name" id="name">
        <br>
        <button type="submit"
            style="width:60px; height:25px; border: 0; background-color: red; color: white;border-radius: 2px;">Upload</button>
    </form>
</body>

</html>