@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Exo' sans-serif !important;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
}

.foo {
  position: fixed;
  bottom: 0;
  right: 0;
}

.warn {
  background-color: indianred !important;
  color: white !important;
  font-family: 'Exo', sans-serif;
  font-size: medium !important;
  border-radius: 4px;
  margin: 16px;
}

.alert {
  background-color: #A94064 !important;
  color: white !important;
  font-family: 'Exo', sans-serif;
  font-size: medium !important;
  border-radius: 4px;
  margin: 16px;
}

#heading {
  height: 12%;
  width: 100%;
}

#m-content {
  width: 100%;
  height: 85%;
}

/* Style the tab */
.tab {
  float: left;
  background-color: #fff;
  box-shadow: 3px 0 3px -1px #888;
  width: 20% !important;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;

}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ADD8E6;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background: -webkit-linear-gradient(30deg, #23395d, #2596be);
  background: -o-linear-gradient(30deg, #23395d, #2596be);
  background: linear-gradient(120deg, #23395d, #2596be);
  color: #fff;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

/* Style the tab content */
.tabContent {
  float: right;
  padding: 0px;
  width: 80% !important;
  border-left: none;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.tablinks {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.button-label {
  padding-left: 10px;
}

.text-center {
  color: #2596be;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.circle-icon {
  height: 25px;
  width: 25px;
  color: #23395d;
  font-size: 22px;
}

.tab button.active .circle-icon {
  color: white;
}

.item {
  width: 100%;
  height: 100%;
  background-color: #5574C5 !important;
  color: white;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  /* --u: 2vmin;
  
  --c1: #23395d;
  --c2: #23395d;
  --s1: #0002;
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 10);
  background:
    repeating-conic-gradient(from 0deg at 50% 13.75%, var(--s1) 0 20.55%, #fff0 21.05% 79.13%, var(--s1) 79.63% 100%) var(--gp),
    repeating-conic-gradient(from 0deg at 50% 50%, #fff0 0 25%, var(--s1) 25% 29%, #fff0 30% 70%, var(--s1) 71% 75%, #fff0 75% 100%) var(--gp),
    repeating-conic-gradient(from 0deg at 50% 50%, var(--c1) 0 25%, var(--c2) 0% 50%, var(--c1) 0 75%, var(--c2) 0% 100%) var(--gp); */

  background-color: #23395D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%232596BE'/%3E%3Cstop offset='1' stop-color='%2323395D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2324688e'/%3E%3Cstop offset='1' stop-color='%2323395D'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

}

.r {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 50%;
  height: 100%;
  /* background-image: linear-gradient(#2596be, #23395d); */
  color: white;
  font-size: larger;
  /* --u: 2vmin;
  
  --c1: #23395d;
  --c2: #23395d;
  --s1: #0002;
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 10);
  background:
    repeating-conic-gradient(from 0deg at 50% 13.75%, var(--s1) 0 20.55%, #fff0 21.05% 79.13%, var(--s1) 79.63% 100%) var(--gp),
    repeating-conic-gradient(from 0deg at 50% 50%, #fff0 0 25%, var(--s1) 25% 29%, #fff0 30% 70%, var(--s1) 71% 75%, #fff0 75% 100%) var(--gp),
    repeating-conic-gradient(from 0deg at 50% 50%, var(--c1) 0 25%, var(--c2) 0% 50%, var(--c1) 0 75%, var(--c2) 0% 100%) var(--gp); */
  background-color: #23395D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%232596BE'/%3E%3Cstop offset='1' stop-color='%2323395D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%2324688e'/%3E%3Cstop offset='1' stop-color='%2323395D'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width: 479px) {
  .button-label {
    display: none !important;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .r {
    width: 100% !important;
  }

  .l {
    width: 100% !important;
  }
}

@media (min-width:320px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .button-label {
    display: none !important;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .r {
    width: 100% !important;
  }

  .l {
    width: 100% !important;
  }

}

@media (min-width:480px) {

  /* smartphones, Android phones, landscape iPhone */
  .button-label {
    display: none !important;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .r {
    width: 100% !important;
  }

  .l {
    width: 100% !important;
  }
}

@media (min-width:600px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .button-label {
    display: none !important;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .r {
    width: 100% !important;
  }

  .l {
    width: 100% !important;
  }
}

@media (min-width:801px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .button-label {
    display: block !important;
  }

  .item {
    display: flex;
    flex-direction: column;
  }

  .r {
    width: 100% !important;
  }

  .l {
    width: 100% !important;
  }
}

@media (min-width:1025px) {

  /* big landscape tablets, laptops, and desktops */
  .button-label {
    display: block !important;
  }

  .item {
    display: flex;
    flex-direction: row;
  }

  .r {
    width: 50% !important;
  }

  .l {
    width: 50% !important;
  }
}

@media (min-width:1281px) {

  /* hi-res laptops and desktops */
  .item {
    display: flex;
    flex-direction: row;
  }

  .r {
    width: 50% !important;
  }

  .l {
    width: 50% !important;
  }
}

.l img {
  width: 100% !important;
}


.back {
  width: auto !important;
  height: auto !important;
  background-color: transparent;
}

.back:hover {
  background-color: transparent !important;
}

#pc1 {
  opacity: 1;
  transition: opacity 1s;
}

#pc1.hide {
  opacity: 0;
}

/* Splash */
.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #e5e5e5;
  z-index: 999;
  color: #ffffff;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #e5e5e5;
  z-index: -999;
  color: #ffffff;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/* ====================== OWL ==================== */
.slider {
  margin-bottom: 30px;
  position: relative;
}

.slider .owl-item.active.center .slider-card {
  color: #ffffff !important;
  transform: scale(1.15);
  opacity: 1;
  background: #23395d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #23395d, #2596be);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #23395d, #2596be);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.slider-card {
  background: #23395d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #23395d, #2596be);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #23395d, #2596be);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
  color: white !important;
}

.slider-card img {
  border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #2596be !important;
}

.text-center {
  color: #ffffff !important;
}

/*==============================================*/

.collapsible {
  background-color: #2596be;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collap {
  background-color: #23395d;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: large;
  margin-top: 10px;

}

.opened,
.collap:hover {
  background-color: #2596be;
}

.announce {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}



.content {
  display: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.collapsible {
  margin-top: 10px;
}

#content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  overflow-y: auto;
}

#Application {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: relative;
}

.center-box {
  height: 100%;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;

}

.center-box-column {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}

.center-box-content {
  height: auto;
  width: auto;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
  overflow-y: auto;
}

#Application button {
  font-size: larger !important;
}

/* ================================================================== */

::-webkit-scrollbar {
  min-width: 4px;
  width: 8px;
  max-width: 4px;
  min-height: 8px;
  height: 8px;
  max-height: 8px;
  background: transparent;
  /* box-shadow: inset 0px 50px 0px #f0f2f5, inset 0px -80px 0px #eee; */
}

::-webkit-scrollbar-thumb {
  background: #2596be;
  border: none;
  border-radius: 100px;
  /* border: solid 3px #e5e5e5; */
  /* box-shadow: inset 0px 0px 3px #999; */
}

::-webkit-scrollbar-thumb:hover {
  background: #23395d;
  box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
  background: #2596be;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
  display: block;
  height: 26px;
}


/* ========================== FORM STTYLE =========================== */

:root {
  --primary-color: rgb(11, 78, 179);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#application-tab {
  font-family: 'Exo' sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/* Form */
.form {
  /* width: clamp(70%, 30%, 70%); */
  width: 100%;

  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
  overflow-y: auto;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 0.5rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}

/* ======================== CONTENT RATING ============================= */

.rate-select {
  min-width: 36px;
  height: 32px !important;
  border: 1px solid #23395d;
  background-color: #2596be;
  color: white;
  border-radius: 8px;
}

/* ============================== SWIPER ================================= */



.slick-arrow {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-arrow:before {
  font-size: 30px;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.btn-wrap {
  text-align: center;
  width: 100%;
}

#slick-p,
#slick {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}

button.slick-disabled {
  opacity: 0.6;
}

.slick-card {
  width: 100%;
  height: 100%;
  /* background-color: cadetblue !important; */
}

.slick-card:nth-child(even) {
  /* background: red !important; */
}

/* .slick-card {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 600px) {
  .slick-card {
    display: flex;
    flex-direction: column;
  }
  .card-item {
    width: 50%;
    height: 100%;
  }
} */

.slick-card {
  display: flex !important;
}

@media screen and (min-width: 321px) and (max-width:960px) {
  .slick-card {
    flex-direction: column !important;
  }

}

@media screen and (min-width: 720px) and (max-width:1024px) {
  .slick-card {
    flex-direction: row !important;
  }
}

/* .left{
  background-color: blue;
  width: 50%;
}
.right{
  background-color: indigo;
  width: 50%;
} */

.image-container img {
  width: 100%;
}

.height {
  height: 10px;
}

/* Image-container design */
.image-container {
  height: 100%;
  position: relative;
  margin: auto;
}

.next {
  right: 0;
}

/* Next and previous icon design */
.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 10px;
  margin-top: -25px;
}

/* caption decorate */
.captionText {
  color: #000000;
  font-size: 14px;
  position: absolute;
  padding: 12px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Slider image number */
.slideNumber {
  background-color: #5574C5;
  color: white;
  border-radius: 25px;
  right: 0;
  opacity: .5;
  margin: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
}

.fa {
  /* font-size: 32px; */
}

.fa:hover {
  transform: rotate(360deg);
  transition: 1s;
  color: white;
}

.footerdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2596be;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active,
.footerdot:hover {
  background-color: black;
}

.swiffy-slider {
  width: 100% !important;
  height: 100% !important;
}

.slider-container {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  overflow-y: hidden;
}

.slider-container li {
  width: 100%;
  height: 100%;
}

.slider-container li:nth-child(even) {
  /* background-color: cadetblue; */
}

/* =============================================================== */

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.close,
.close span {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: xx-large;
}

/* ==================================== *** ==================================== */
.dots {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================================== A ==================================== */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #23395D;
  color: #23395D;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #23395D;
  color: #23395D;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }

  30% {
    box-shadow: 9984px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}

@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }

  30% {
    box-shadow: 9999px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}

@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }

  30% {
    box-shadow: 10014px 0 0 2px;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

/* ======================= B ============================== */

.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #23395D;
  color: #23395D;
  animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #23395D;
  color: #23395D;
  animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #23395D;
  color: #23395D;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1.5);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 1.5);
  }

  75% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.67);
  }

  75% {
    transform: scale(1, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #23395D;
  color: #23395D;
  box-shadow: 9984px 0 0 0 #23395D, 9999px 0 0 0 #23395D, 10014px 0 0 0 #23395D;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #23395D, 9999px 0 0 0 #23395D, 10014px 0 0 0 #23395D;
  }

  16.667% {
    box-shadow: 9984px -10px 0 0 #23395D, 9999px 0 0 0 #23395D, 10014px 0 0 0 #23395D;
  }

  33.333% {
    box-shadow: 9984px 0 0 0 #23395D, 9999px 0 0 0 #23395D, 10014px 0 0 0 #23395D;
  }

  50% {
    box-shadow: 9984px 0 0 0 #23395D, 9999px -10px 0 0 #23395D, 10014px 0 0 0 #23395D;
  }

  66.667% {
    box-shadow: 9984px 0 0 0 #23395D, 9999px 0 0 0 #23395D, 10014px 0 0 0 #23395D;
  }

  83.333% {
    box-shadow: 9984px 0 0 0 #23395D, 9999px 0 0 0 #23395D, 10014px -10px 0 0 #23395D;
  }

  100% {
    box-shadow: 9984px 0 0 0 #23395D, 9999px 0 0 0 #23395D, 10014px 0 0 0 #23395D;
  }
}

/* ================================================= O ================================================== */

.outer-circle {
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
}

.inner-circle {
  border-radius: inherit;
  background-image: conic-gradient(#fff, rgba(12, 12, 79, 0.3), rgb(11, 11, 69));
  position: absolute;
  z-index: -1;
  margin: auto;
  top: -0.8rem;
  bottom: -0.8rem;
  left: -0.8rem;
  right: -0.8rem;
  animation: circle-anim 0.6s linear infinite;
}

@keyframes circle-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pane {
  min-width: 324px;
  min-height: 48px;
  max-width: 448px;
  max-height: 348px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.answers input[type="radio"] {
  float: left;
}

.star {
  display: flex;
  align-items: center;
}

.star label {
  width: auto;
  height: auto;
}

.star input {
  width: 21px;
  height: 21px;
  margin-right: 16px;
}

.title{
  font-weight: 500;
}

#ass-comment{
  height: 0;
  display: none;
  resize: none;
  padding: 10px;
  border: 1px solid #23395D;
  outline: none;
  transition: height 0.9s;
}

#ass-comment:focus {
  outline: none !important;
  border:1px solid #23395d;
  /* box-shadow: 0 0 10px #719ECE; */
}